.orange {
    background-color: #FAA954;
    width: auto;
    height: 52px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}
.green {
    background-color: #5DC072;
    width: auto;
    height: 52px;
    margin-top: 8px;
    margin-left: -8px;
    margin-right: -8px;
}
#dshbrd{
    color: white;margin-left: 15px;margin-top: -10px;font-size: inherit;font-weight: 500;width:fit-content;
}
#vcc{
    color: white;margin-left: 125px;margin-top: -20px;font-size: inherit;font-weight: 500;width:fit-content;
}
#mf{
    color: white;margin-left: 185px;margin-top: -22px;font-size: inherit;font-weight: 500;width:fit-content;
}
#ee{
    color: white;margin-left: 330px;margin-top: -22px;font-size: inherit;font-weight: 500;width:fit-content;
}
#boxes{
    height:80%;
    width:4%;
    margin-right: 2%;
    margin-top: -2.2%;
}

.container1 {
    border-radius: 15px;
    height: auto;
    margin-top: 8px;
    display: flex;
}
#temp {
    background-color: white;
    width: 50%;
    height:auto;
    margin: 4px;
    margin-right: 10px;
    border-radius: 15px;
    float:left;
}
#t1{
    font-size: inherit;
    font-weight: 500;
}
#i1{
    height:inherit;
    width:96%;
}
#airq {
    background-color: white;
    width: 50%;
    height:auto;
    margin: 4px;
    margin-right: 10px;
    border-radius: 15px;
    float: left;
}
#t2{
    font-size: inherit;
    font-weight: 500;
}
#i2{
    height:inherit;
    width:100%;
}
#CO2 {
    background-color: white;
    width: 50%;
    height:auto;
    margin: 4px;
    border-radius: 15px;
    float: left;
}
#t3{
    font-size: inherit;
    font-weight: 500;
}
#i3{
    height:inherit;
    width:100%;
}

.container2 {
    border-radius: 15px;
    height:90%;
    margin-top: 8px;
    display:flex;
}
#machine {
    background-color: white;
    width: 65%;
    height:auto;
    margin: 4px;
    margin-right: 8px;
    border-radius: 15px;
}
#t4{
    font-size: inherit;
    font-weight: 500;
}
#i4{
    height:96%;
    width:98%;
    border-radius: 20px;
}
#vccimg{
    height:98%;
    width:94%;
    border-radius: 20px;
}
#specify {
    background-color: white;
    width: 35%;
    height:relative;
    margin: 4px;
    border-radius: 15px;
}
#t5{
    font-size: inherit;
    font-weight: 500;
}

@media screen and (min-height:510px){
    table {
      height:94%;
      width:98%;
      overflow: hidden;
      border-radius: 20px;
    }
    td {
      font-size:inherit;
      font-size-adjust:auto;
    }
    
}